.card-container {
    display: flex;
    align-items: center;
    width: 45%;
    border-radius: 8px;

}
.image-box img {
    height: 170px;
}

.card-details {
    width: 62%;
    background-color: #f1efff;
    border-radius: 8px;
}

.taka-icon{
    font-size: 20px;
}